.Calculator {
  padding: .5em;
}

.Calculator-User-Input {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.Calculator-Box {
  margin: 2em 1em;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.Calculator-Fee-Box {
  display: flex;
}

.Calculator-Fee-Box-Inputs {
  display: flex;
  flex-direction: column;
}

.setterPriceFee:hover {
  cursor: pointer;
}

.Calculator-Result {
  border: 1px solid white;
}

.Calculator-Span-Result {
  color: red;
}

.Calculator-Result-Box {
  margin-top: 1em;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.Calculator-Result-Box div {
  padding: 1em;
  border: 1px solid white;
}

input {
  width: 10em;
}

button {
  border-radius: 5px;
  color: white;
  background-color: black;
  margin: 1em;
  padding: 1em;
  transition: all .2s;
}

button:hover {
  background-color: darkgrey;
}
