.Calculator {
  padding: .5em;
}

.Calculator-User-Input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.Calculator-Box {
  margin: 1em;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.Calculator-Result {
  border: 1px solid white;
}

input {
  width: 10em;
}

button {
  margin: 1em 0;
  padding: 1em;
}
